.navbar-right > .dropdown-menu{
    left: auto !important;
}

.nav > li > a {
    cursor: pointer;
    font-size: 16px;
}

.navbar .container-fluid {
    padding-top: 15px;
    background-color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #f25f43;
    background: transparent;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #fff;
    outline: 0;
    background-color: #F25F46;
}

.navbar-default a{
    cursor: pointer;
}