.cart-tab {
    margin-top: 20px;
}

.cart-tab > .cart-container {
    border-radius: 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #fff;
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 0;
    top: 20px;
}

.cart-tab > .cart-container > .header {
    position: relative;
    height: 40px;
    width: 100%;
    padding: 0;
    color: #fff;
    border-radius: 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #2971a8;
}

.cart-tab .content {
    top: 40px;
    bottom: 5px;
    position: absolute;
    overflow: auto;
    margin: 0;
    width: 100%;
    border-radius: 0 0 4px 4px;
    border-top: none;
    padding: 10px;
}

.cart-tab .clear {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cart-tab .cart-step li {
    float: left;
    display: inline-block;
    display: table-cell;
    width: 33.33%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: middle;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    background-color: #f1f2f3;
    color: #000;
}

.cart-tab .cart-step li.active {
    background-color: #2971a8;
    color: #fff;
    font-weight: bold;
}