<div class="container cart-tab">
    <div class="cart-container">
        <div class="header">
            <div class="cart-step">
                <ul class="clear">
                    <li ng-repeat="(key, tab) in tabs"
                        ng-class="{'active': isTabActive(tab)}">
                        {[{tab.title}]}
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <products ng-if="isProducts()" on-submit="changeToDelivery"></products>
            <delivery ng-if="isDelivery()" on-submit="changeToAssume" on-back="changeToProducts"></delivery>
            <assume ng-if="isAssume()"
                    back-to-delivery="changeToDelivery"
                    back-to-products="changeToProducts"></assume>
        </div>
    </div>
</div>