<div class="container cart-tab">
    <div class="cart-container">
        <div class="header">
            <div class="cart-step">
                <ul class="clear">
                    <li ng-repeat="(key, tab) in tabs"
                        ng-class="{'active': isTabActive(tab)}"
                        ng-click="changeTab(tab)">
                        {[{tab.title}]}
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <products ng-if="isProducts()"></products>
            <delivery ng-if="isDelivery()"></delivery>
            <assume ng-if="isAssume()"></assume>
        </div>
    </div>
</div>