.cart-tab {
    margin-top: 20px;
}

.cart-tab > .cart-container {
    border-radius: 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #fff;
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 0;
    top: 20px;
}

.cart-tab .header {
    position: relative;
    height: 40px;
    width: 100%;
    padding: 0;
    color: #fff;
    border-radius: 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #2971a8;
}

.cart-tab .content {
    top: 40px;
    bottom: 5px;
    position: absolute;
    overflow: auto;
    margin: 0;
    width: 100%;
    border-radius: 0 0 4px 4px;
    border-top: none;
    padding: 10px;
}

.cart-tab .content .fLeft {
    float: left;
}

.cart-tab .content .fRight {
    float: right;
}

.cart-tab .content .tabs {
    padding: 8px;
    border-top: none;
    width: 100%;
}

.cart-tab .content .items {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    position: absolute;
    top: 45px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    overflow: auto;
}

.cart-tab .content .items .table-header {
    color: #f25f43;
}

.cart-tab .checkbox {
    min-height: inherit;
    margin-top: 0;
}

.cart-tab .fLeft .selected {
    background-color: #f25f43;
}

.cart-tab .multi-select {
    width: 100%;
    margin: 10px 0;
}

.cart-tab .medicine-item {
    background-color: transparent;
    width: 23%;
    height: 300px;
    margin-right: 1%;
    margin-left: 1%;
}

.cart-tab .medicine-item .img-wrapper {
    height: 150px;
    width: 100%;
    position: relative;
}

.cart-tab .medicine-item .img-wrapper > img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.cart-tab .medicine-item .price {
    color: #e91c28;
    font-size: 16px;
}

.cart-tab .medicine-item button {
    display: inline-block;
    margin: 10px 0px 0px 0px;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 14px;
    border: none;
    font-family: 'Source Sans Pro', Arial, Tahoma, sans-serif;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    zoom: 1;
    cursor: pointer;
}

button.add-to-cart {
    background-color: #e91c28;
    color: #fff;
}

button.hurt {
    background-color: #4bb9bc;
    color: #fff;
}

.cart-tab .clear {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cart-tab .cart-step li {
    float: left;
    display: inline-block;
    display: table-cell;
    width: 25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: middle;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    background-color: #f1f2f3;
    color: #000;
}

.cart-tab .cart-step li.active {
    background-color: #2971a8;
    color: #fff;
    font-weight: bold;
}

.cart-tab .item .medicine-name {
    color: #2971a8;
}

.cart-tab .content .table th {
    text-align: center;
    width: 15%;
}

.cart-tab .content .table thead tr th:nth-child(1) {
    width: 45%;
}

.cart-tab .content .table thead tr th:nth-child(2) {
    width: 5%;
}

.cart-tab .content .table thead tr th:last-child {
    width: 5%;
}

.cart-tab .content .table .align-right {
    text-align: right;
}

.cart-tab .cart-sum {
    background-color: #fafafa;
    color: #2971a8;
}

.cart-tab .cart-button {
    background-color: #e91c28;
    color: #fff;
}

.cart-tab .center {
    text-align: center;
}

.cart-tab .clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.cart-tab section.box .box_content {
    border: solid 1px #f5f5f5;
    padding: 20px;
    background-color: #fff;
}

.cart-tab section.box > header {
    background: none #4bb9bc;
    color: #fff;
    text-shadow: 0px -1px 0px #4bb9bc;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    position: relative;
}

.cart-tab section.box > header h1, section.box > header h2, section.box > header h3, section.box > header h4, section.box > header h5, section.box > header h6 {
    padding: 10px 20px;
    font-family: 'Source Sans Pro', Arial, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.cart-tab section.box.no-frame .box_content {
    border: 0;
    padding: 0px;
}

.cart-tab .select_boxes .delivery_group {
    float: left;
    width: 50%;
}

.cart-tab .select_boxes .delivery_group > .ins {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #f1f1f1;
    padding: 10px 10px 1px 10px;
}

.cart-tab .select_boxes .delivery_group > .ins h4 {
    font-weight: normal;
    text-align: center;
    margin: 10px 0px 20px 0px;
    font-size: 20px;
    font-weight: 300;
}

.cart-tab .select_boxes.with_groups {
    margin-left: -10px;
}

.cart-tab .select_boxes.no_groups {
    background-color: #f1f1f1;
    padding: 10px 10px 1px 10px;
    margin: 0px;
}

.cart-tab .select_boxes.no_groups .box_item {
    float: left;
    width: 25%;
}

.cart-tab .select_boxes.no_groups .box_item .ins {
    padding-left: 10px;
}

.cart-tab .select_boxes .box_item {
    display: block;
    background-color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
}

.cart-tab .select_boxes .box_item .name {
    display: block;
    font-size: 17px;
    margin-bottom: 10px;
    color: #555;
}

.cart-tab .select_boxes .box_item .input {
    display: none;
}

.cart-tab .select_boxes .box_item .radio {
    border-radius: 100px;
    display: inline-block;
    border: solid 2px #ccc;
    padding: 3px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.cart-tab .select_boxes .box_item .radio span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.cart-tab .select_boxes .box_item .info {
    margin: 0px 0px 0px 60px;
    padding: 20px 40px 20px 0px;
}

.cart-tab .select_boxes .box_item .info .price {
    text-align: right;
    font-size: 17px;
}

.cart-tab .select_boxes .box_item.active {
    background-color: #2971a8;
    color: #fff;
}

.cart-tab .select_boxes .box_item.active .name {
    color: #fff;
}

.cart-tab .select_boxes .box_item.active .radio {
    background-color: #fff;
    border-color: #2971a8;
}

.cart-tab .select_boxes .box_item.active .radio span {
    background-color: #2971a8;
}

.cart-tab .select_boxes .box_item:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.cart-tab .select_boxes .box_item:hover .radio {
    border-color: #aaa;
}

.cart-tab .assume-button {
    width: 100%;
    background-color: #2971a8;
    color: white;
    height: 50px;
    border-radius: 5px;
}