<div class="addMedicine">
    <div class="form-medicine col-sm-10 col-sm-offset-1">
        <md-input-container class="col-sm-6">
            <label>Nazwa</label>
            <input ng-model="user.email" type="email">
        </md-input-container>
        <md-input-container class="col-sm-6">
            <label>Producent</label>
            <input ng-model="user.email" type="email">
        </md-input-container>

        <md-input-container class="col-sm-4">
            <label>Cena</label>
            <input ng-model="user.email" type="email">
        </md-input-container>
        <md-input-container class="col-sm-4">
            <label>Ilość w opakowaniu</label>
            <input ng-model="user.email" type="email">
        </md-input-container>
        <md-input-container class="col-sm-4">
            <label>Jednostka</label>
            <md-select ng-model="search.useSelected">
                <md-option ng-value="'1'">gr</md-option>
                <md-option ng-value="'2'">ml</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="col-sm-6">
            <label>Scieżka do obrazka</label>
            <input ng-model="user.email" type="email">
        </md-input-container>
        <md-input-container class="col-sm-6">
            <label>Recepta</label>
            <md-select ng-model="search.useSelected">
                <md-option ng-value="'1'">Na receptę</md-option>
                <md-option ng-value="'2'">Bez recepty</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="multi-select col-sm-6">
            <label>Składniki</label>
            <md-select ng-model="search.useSelected" multiple>
                <md-option ng-value="'1'">qwerty</md-option>
                <md-option ng-value="'2'">asdasdasdasd</md-option>
                <md-option ng-value="'3'">dsdfxzcv</md-option>
                <md-option ng-value="'4'">asdasd</md-option>
                <md-option ng-value="'5'">asasdad2</md-option>
                <md-option ng-value="'6'">asaasdase2d3</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="multi-select col-sm-6">
            <label>Zamienniki</label>
            <md-select ng-model="search.useSelected" multiple>
                <md-option ng-value="'1'">qwerty</md-option>
                <md-option ng-value="'2'">asdasdasdasd</md-option>
                <md-option ng-value="'3'">dsdfxzcv</md-option>
                <md-option ng-value="'4'">asdasd</md-option>
                <md-option ng-value="'5'">asasdad2</md-option>
                <md-option ng-value="'6'">asaasdase2d3</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="multi-select col-sm-6">
            <label>Zastosowanie</label>
            <md-select ng-model="search.useSelected" multiple>
                <md-option ng-value="'1'">qwerty</md-option>
                <md-option ng-value="'2'">asdasdasdasd</md-option>
                <md-option ng-value="'3'">dsdfxzcv</md-option>
                <md-option ng-value="'4'">asdasd</md-option>
                <md-option ng-value="'5'">asasdad2</md-option>
                <md-option ng-value="'6'">asaasdase2d3</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="multi-select col-sm-6">
            <label>Forma aplikacji</label>
            <md-select ng-model="search.useSelected" multiple>
                <md-option ng-value="'1'">qwerty</md-option>
                <md-option ng-value="'2'">asdasdasdasd</md-option>
                <md-option ng-value="'3'">dsdfxzcv</md-option>
                <md-option ng-value="'4'">asdasd</md-option>
                <md-option ng-value="'5'">asasdad2</md-option>
                <md-option ng-value="'6'">asaasdase2d3</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="col-sm-6">
            <label>Data gwarancji*</label>
            <md-datepicker ng-model="medicine.validityPeriod"
                           md-placeholder="MM/DD/RRRR"
                           required></md-datepicker>
        </md-input-container>
        <md-input-container class="col-sm-12 form-actions">
            <button class="btn btn-success">Zatwierdź</button>
        </md-input-container>
    </div>
</div>