.medicine-tab {
    margin-top: 20px;
}

.medicine-tab > .medicine-container {
    border-radius: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    position: absolute;
    left: 2%;
    right: 2%;
    bottom: 20px;
    top: 20px;
}

.medicine-tab .header {
    position: relative;
    height: 40px;
    width: 100%;
    padding: 0 4px;
    color: #fff;
    border-radius: 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #2971a8;
}

.medicine-tab .header .template-title {
    position: absolute;
    top: 6px;
    left: 45%;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.medicine-tab .content {
    margin: 0 0 5px 0;
    width: 100%;
    border-radius: 0 0 4px 4px;
    border-top: none;
    padding: 10px;
}

.medicine-tab .content .medicine {
    position: absolute;
    top: 45px;
    border-radius: 10px;
    right: 20px;
    padding-top: 10px;
    left: 20px;
    bottom: 10px;
    border: 1px solid #c8c8c9;
    margin-top: 10px;
    overflow: auto;
}

.medicine-tab .content .medicine .photo {
    float: left;
    display: inline-block;
}

.medicine-tab .content .medicine .photo img {
    border-radius: 5px;
    border: 1px solid #c8c8c9;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.medicine-tab .content .medicine .base-info {
    float: left;
    display: inline-block;
}

.medicine-tab .content .medicine .more-info {
    float: left;
    display: inline-block;
}

.base-info div,
.more-info div {
    border-bottom: 1px solid #4bb9bc;
}

.info-row .info {
    color: #4bb9bc;
    float: right;
    width: 50%;
}

.base-info .price .info-type,
.base-info .info-row .info-type {
    width: 50%;
}

.base-info .price .info {
    color: red;
    float: right;
    width: 50%;
}

.medicine-tab button.add-to-cart:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.medicine-tab button {
    display: inline-block;
    margin: 10px 0px 0px 0px;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 14px;
    border: none;
    font-family: 'Source Sans Pro', Arial, Tahoma, sans-serif;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    zoom: 1;
    cursor: pointer;
}

.medicine-tab .footer {
    position: absolute;
    text-align: center;
    color: black;
}

.medicine-tab .order {
    background-color: beige;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.medicine-tab .order .form-group{
    width:33%;
    display:inline-block;
}

.medicine-tab .error-input {
    border: 1px solid red;
    border-radius: 5px;
}
.info-container {
    display: inline-block;
}
