<div class="container medicine-tab">
    <div class="medicine-container">
        <div class="header">
            <span class="text template-title">{{medicine.name}}</span>
        </div>
        <div class="content">
            <div class="medicine">
                <div class="info-container">
                    <div class="photo col-sm-3">
                        <img ng-src={{medicine.imagePath}}>
                        <div class="order">
                            <form name="toCart">
                                <div class="form-group">
                                    <label>Ilość:</label>
                                    <input type="number"
                                           name="medicineAmount"
                                           ng-min="1"
                                           ng-max="medicine.quantityInWarehouse"
                                           ng-model="amount"
                                           ng-class="{'error-input': !toCart.medicineAmount.$valid}"
                                           class="form-control ">
                                </div>
                                <button class="add-to-cart"
                                        ng-click="addToCart(medicine)"
                                        ng-if="!isInCart(medicine.id)"
                                        ng-disabled="!toCart.medicineAmount.$valid">
                                    Koszyk
                                </button>
                                <button class="add-to-cart" ng-if="isInCart(medicine.id)" disabled>W koszyku</button>
                                <div ng-if="toCart.medicineAmount.$error.max">Przepraszamy, nie dysponujemy taką ilością
                                    towaru na magazynie.
                                </div>
                                <div ng-if="toCart.medicineAmount.$error.min">Ilość zamawianego towaru musi być większa
                                    od 0.
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="base-info col-sm-4">
                        <div class="price">
                            <div class="info-type">Cena:</div>
                            <span class="info">{{medicine.price}} zł</span>
                        </div>
                        <div class="info-row">
                            <div class="info-type">Producent:</div>
                            <span class="info">{{medicine.producer}}</span>
                        </div>
                        <div class="info-row">
                            <div class="info-type">Produkt:</div>
                            <span class="info">{{medicine.withPrescription ? "na receptę" : "bez recepty"}}</span>
                        </div>
                        <div class="info-row">
                            <div class="info-type">Przeznaczenie:</div>
                            <span class="info">
                            <span ng-repeat="appl in medicine.application">
                              {{ appl.application }}{{$last ? '' : ', '}}
                            </span>
                          </span>
                        </div>
                        <div class="info-row">
                            <div class="info-type">Rodzaj:</div>
                            <span class="info">{{medicine.form.form}}</span>
                        </div>
                        <div class="info-row">
                            <div class="info-type">Pojemność:</div>
                            <span class="info">{{medicine.quantityInPackage + " " + medicine.unit}}</span>
                        </div>
                    </div>
                    <div class="more-info col-sm-5">
                        <div class="info-row">
                            <div class="info-type">Ilość na magazynie:</div>
                            <span class="info">{{medicine.quantityInWarehouse}}</span>
                        </div>
                        <div class="info-row">
                            <div class="info-type">Składniki:</div>
                            <span class="info">
                            <span ng-repeat="ingredient in medicine.composition">
                              {{ ingredient.name }}{{$last ? '' : ', '}}
                            </span>
                        </span>
                        </div>
                        <div class="info-row">
                            <div class="info-type">Zamienniki:</div>
                            <span class="info">
                              <span ng-click="showSubstitute(substitute.id)"
                                    ng-repeat="substitute in medicine.substitutes">
                                {{ substitute.name }}{{$last ? '' : ', '}}
                              </span>
                            <span ng-if="medicine.substitutes.length <= 0">Brak zamienników</span>
                            </span>
                        </div>
                        <div class="info-row">
                            <div class="info-type">Sposób użycia:</div>
                            <span class="info">
                            {{medicine.use}}
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
