<div class="container medicine-tab">
    <div class="medicine-container">
        <div class="header">
            <span class="text template-title">{{medicine.name}}</span>
        </div>
        <div class="content">
            <div class="medicine">
                <div class="info-container">
                    <div class="photo col-sm-4">
                        <img ng-src={{medicine.imagePath}}>
                        <div class="order">
                            <div class="form-group">
                                <label>Ilość:</label>
                                <input type="number" class="form-control">
                            </div>
                            <button class="add-to-cart">Koszyk</button>
                        </div>
                    </div>
                    <div class="base-info col-sm-4">
                        <div class="price">
                            <span class="info-type">Cena: </span><span class="info">{{medicine.price}} zł</span>
                        </div>
                        <div class="info-row">
                            <span class="info-type">Producent: </span><span class="info">{{medicine.producer}}</span>
                        </div>
                        <div class="info-row">
                            <span class="info-type">Przeznaczenie: </span>
                            <span class="info">
                            <span ng-repeat="appl in medicine.application">
                              {{ appl.application }}{{$last ? '' : ', '}}
                            </span>
                          </span>
                        </div>
                        <div class="info-row">
                            <span class="info-type">Rodzaj: </span>
                            <span class="info">{{medicine.form.form}}</span>
                        </div>
                        <div class="info-row">
                            <span class="info-type">Pojemność: </span>
                            <span class="info">{{medicine.quantityInPackage.amount + " " + medicine.quantityInPackage.kind}}</span>
                        </div>
                    </div>
                    <div class="more-info col-sm-4">
                        <div class="info-row">
                            <span class="info-type">Składniki: </span>
                            <span class="info">
                            <span ng-repeat="ingredient in medicine.composition">
                              {{ ingredient.name }}{{$last ? '' : ', '}}
                            </span>
                        </span>
                        </div>
                        <div class="info-row">
                            <span class="info-type">Zamienniki: </span>
                            <span class="info">
                            <span ng-click="showSubstitute(substitute.id)"
                                  ng-repeat="substitute in medicine.substitutes">
                              {{ substitute.name }}{{$last ? '' : ', '}}
                            </span>
                        </span>
                        </div>
                        <div class="info-row">
                            <span class="info-type">Sposób użycia: </span>
                            <span class="info">
                            {{medicine.use}}
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
