<div class="delivery">
    <section class="box no-frame">
        <header><h3>Wybierz rodzaj przesyłki</h3></header>
        <div class="box_content">
            <section class="select_boxes select_list clear with_groups selected">
                <div class="delivery_group deliveries_personal">
                    <div class="ins clear">
                        <h4>Odbierz sam</h4>
                        <label class="box_item clear"
                               ng-class="{'active': deliveryTypes.pharmacy.selected}"
                               ng-click="deliveryTo('pharmacy')">
                            <div class="ins">
                                <div class="info">
                                    <span class="name">ODBIÓR OSOBISTY W NASZEJ APTECE</span>
                                    <div class="hint">
                                        <div class="inn">
                                            <strong>Odbiór z Apteki internetowej</strong>
                                            (Wrocław, ul. Skłodowskiej 10) - zamówienie będzie gotowe do odbioru w dniu
                                            zakończenia
                                            kompletacji.
                                        </div>
                                    </div>
                                    <div class="price">{{deliveryTypes.pharmacy.cost}} PLN</div>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="delivery_group deliveries_to_home">
                    <div class="ins clear">
                        <h4>Dostawa do domu</h4>
                        <label class="box_item clear"
                               ng-click="deliveryTo('pocztex')"
                               ng-class="{'active': deliveryTypes.pocztex.selected}">
                            <div class="ins">
                                <div class="info">
                                    <span class="name">Poczta Polska</span>
                                    <div class="hint">
                                        <div class="inn">Przesyłka kurierem POCZTEX Poczty Polskiej. Czas dostawy po
                                            realizacji zamówienia i nadaniu paczki 2-3 dni robocze.
                                        </div>
                                    </div>
                                    <div class="price">{{deliveryTypes.pocztex.cost}} PLN</div>
                                </div>
                            </div>
                        </label>
                        <label class="box_item clear"
                               ng-click="deliveryTo('dpd')"
                               ng-class="{'active': deliveryTypes.dpd.selected}">
                            <div class="ins">
                                <div class="info">
                                    <span class="name">Kurier DPD</span>
                                    <div class="hint">
                                        <div class="inn">Przesyłka kurierem DPD. Czas dostawy po realizacji zamówienia i
                                            nadaniu paczki 1-2 dni robocze.
                                        </div>
                                    </div>
                                    <div class="price">{{deliveryTypes.dpd.cost}} PLN</div>

                                </div>
                            </div>
                        </label>
                        <label class="box_item clear"
                               ng-class="{'active': deliveryTypes.dhl.selected}"
                               ng-click="deliveryTo('dhl')">
                            <div class="ins">
                                <div class="info">
                                    <span class="name">Kurier DHL</span>
                                    <div class="hint">
                                        <div class="inn">Przesyłka kurierem DHL. Czas dostawy po realizacji zamówienia i
                                            nadaniu paczki 1 dzień roboczy.
                                        </div>
                                    </div>
                                    <div class="price">{{deliveryTypes.dhl.cost}} PLN</div>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <div id="div_deliveries_box">
        <section class="box no-frame">
            <header>
                <h3>Wybierz rodzaj płatności</h3>
            </header>
            <div class="box_content">
                <div id="div_deliveries">
                    <section class="select_boxes select_list clear no_groups selected">
                        <label class="box_item clear"
                               ng-click="selectPayment('transfer')"
                               ng-class="{'active': payType.transfer.selected}">
                            <div class="ins">
                                <div class="info">
                                    <span class="name">Przelew</span>
                                </div>
                            </div>
                        </label>
                        <label class="box_item clear"
                               ng-click="selectPayment('cash')"
                               ng-class="{'active': payType.cash.selected}">
                            <div class="ins">
                                <div class="info">
                                    <span class="name">Przy odbiorze</span>
                                </div>
                            </div>
                        </label>
                    </section>
                </div>
            </div>
        </section>
    </div>
    <div class="customer-form" ng-if="isUserLogged">
        <div class="col-sm-6 customer-data">
            <div class="header">Dane zamawiającego</div>
            <form class="form" name="deliveryForm">
                <div class="form-group col-sm-6">
                    <label>Imię:</label>
                    <input type="text" class="form-control" ng-model="user.firstName" disabled>
                </div>
                <div class="form-group col-sm-6">
                    <label>Nazwisko:</label>
                    <input type="text" class="form-control" ng-model="user.lastName" disabled>
                </div>
                <div class="form-group col-sm-6">
                    <label>Adres:</label>
                    <input type="text" class="form-control" ng-model="user.address" disabled>
                </div>
                <div class="form-group col-sm-3">
                    <label>Kod pocztowy:</label>
                    <input type="text" class="form-control" ng-model="user.zipCode" disabled>
                </div>
                <div class="form-group col-sm-9">
                    <label>Miejscowość:</label>
                    <input type="text" class="form-control" ng-model="user.locality" disabled>
                </div>
                <div class="form-group col-sm-6">
                    <label>Telefon:</label>
                    <input type="text" class="form-control"
                           ng-model="order.client.phoneNumber"
                           name="phoneNumber">
                    <span ng-show="!isValid('phoneNumber', order.client.phoneNumber)"
                          class="help-block">
                Niepoprawny format numeru telefonu
            </span>
                </div>
                <div class="form-group col-sm-6">
                    <label>Dokument sprzedaży</label>
                    <select class="form-control" ng-model="documentType.value">
                        <option value="bill">Paragon fiskalny</option>
                        <option value="invoice">Faktura VAT</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-sm-6 delivery-data" ng-show="!deliveryTypes.pharmacy.selected">
            <div class="header">
                Adres dostawy
            </div>
            <div class="form">
                <div class="form-group col-sm-6">
                    <select class="form-control" ng-model="isSecondForm.value">
                        <option value="false">Taki sam jak zamawiającego</option>
                        <option value="true">Inny</option>
                    </select>
                </div>
                <div ng-if="isSecondForm.value === 'true'" class="col-sm-12">
                    <div class="form-group col-sm-5">
                        <label>Adres:</label>
                        <input type="text" class="form-control" ng-model="secondForm.address">
                        <span ng-show="!isValid('address', secondForm.address)"
                              class="help-block">
                Niepoprawny adres
            </span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Kod pocztowy:</label>
                        <input type="text" class="form-control" ng-model="secondForm.zipCode">
                        <span ng-show="!isValid('zipCode', secondForm.zipCode)"
                              class="help-block">
                Niepoprawny kod pocztowy
            </span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Miejscowość:</label>
                        <input type="text" class="form-control" ng-model="secondForm.locality">
                        <span ng-show="!isValid('locality', secondForm.locality)"
                              class="help-block">
                Niepoprawna miejscowość
            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="customer_buttons" class="button-container">
        <button class="btn button back-button col-sm-5" ng-click="onBack();">
            <h4>Wróć do koszyka</h4>
        </button>
        <button ng-click="submit()"
                ng-if="isUserLogged"
                class="btn button assume-button col-sm-5 col-sm-offset-2"
                ng-disabled="!isSubmitEnable()">
            <h4>Przejdź do podsumowania</h4>
        </button>
        <button ng-if="!isUserLogged"
                class="btn button assume-button col-sm-5 col-sm-offset-2"
                ng-click="goToLogin()">
            <h4>Zaloguj się aby przejść do podsumowania</h4>
        </button>
    </div>
</div>