<div class="container shop-tab">
    <div class="filters">
        <div class="header">
            <span class="text template-title">Filtry</span>
        </div>
        <div class="content">
            <div class="form-group">
                <input aria-label="a" type="text"
                       name="medicineName"
                       placeholder="Nazwa Leku"
                       id="medicineName"
                       class="form-control"
                       ng-model="filter.medicineName"/>
            </div>
            <div class="form-group">
                <input aria-label="a" type="text"
                       name="producentName"
                       placeholder="Producent"
                       id="producentName"
                       class="form-control"
                       ng-model="filter.producentName"/>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               ng-model="filter.withPrescription">
                        Na Receptę
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               ng-model="filter.withoutPrescription">
                        Bez Recepty
                    </label>
                </div>
            </div>
            <md-input-container class="multi-select">
                <label>Składniki</label>
                <md-select ng-model="filter.selectedSubstances" multiple>
                    <md-option ng-repeat="substance in substances"
                               ng-value="substance.id">{{substance.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="multi-select">
                <label>Forma Leku</label>
                <md-select ng-model="filter.selectedForms" multiple>
                    <md-option ng-repeat="form in forms"
                               ng-value="form.id">{{form.form}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="multi-select">
                <label>Zastosowanie Leku</label>
                <md-select ng-model="filter.selectedApplications" multiple>
                    <md-option ng-repeat="application in applications"
                               ng-value="application.id">{{application.application}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-slider-container>
                <span>Cena</span>
                <md-slider flex min="0" max="300" ng-model="filter.price" aria-label="red" id="red-slider">
                </md-slider>
                <md-input-container>
                    <input flex type="number" ng-model="filter.price" aria-label="red" aria-controls="red-slider">
                </md-input-container>
            </md-slider-container>
        </div>
        <div class="form-actions">
            <button type="submit"
                    class="btn btn-success"
                    ng-click="getMedicines()">
                Szukaj
            </button>
        </div>
    </div>
    <div class="shop-container">
        <div class="header">
            <span class="text template-title">Wyszukane Leki</span>
        </div>
        <div class="content">
            <div class="items">
                <div class="medicine-item" ng-repeat="medicine in medicines">
                    <div class="img-wrapper" ng-click="showMedicineDetail(medicine.id)">
                        <img ng-src={{medicine.imagePath}}>
                    </div>
                    <div class="info">
                        <h4 ng-click="showMedicineDetail(medicine.id)">{{medicine.name + " " + medicine.quantityInPackage.amount
                              + " " + medicine.quantityInPackage.kind + " " + medicine.form.form }}</h4>
                        <div class="price">{{medicine.price}} PLN</div>
                    </div>
                    <button class="add-to-cart" ng-click="addToCart(medicine)">Koszyk</button>
                </div>
            </div>
        </div>
    </div>
</div>
