{% load staticfiles %}

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'lib/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'lib/css/colorpicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/css/angular-bootstrap-calendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/css/angular-material.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/css/libs.min.css' %}" rel="stylesheet">
    <link href="{% static 'main-view/app.css' %}" rel="stylesheet">
    <link href="{% static 'main-view/header/header.css' %}" rel="stylesheet">
    <link href="{% static 'main-view/shop/shop.css' %}" rel="stylesheet">
    <link href="{% static 'main-view/medicine-details/medicine-details.css' %}" rel="stylesheet">
    <link href="{% static 'main-view/authenticate/authenticate.css' %}" rel="stylesheet">
    <link href="{% static 'main-view/cart/cart.css' %}" rel="stylesheet">
    <link href="{% static 'main-view/cart/delivery/delivery.css' %}" rel="stylesheet">
    <link href="{% static 'main-view/cart/products/products.css' %}" rel="stylesheet">
</head>
<body>
{% block bodyContent %}
{% endblock %}

<!-- LIBS -->
<script src="{% static 'lib/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'lib/js/moment.js' %}"></script>
<script src="{% static 'lib/js/interactjs.js' %}"></script>
<script src="{% static 'lib/js/angular.min.js' %}"></script>
<script src="{% static 'lib/js/angular-route.min.js' %}"></script>
<script src="{% static 'lib/js/angular-strap.min.js' %}"></script>
<script src="{% static 'lib/js/angular-strap.tpl.min.js' %}"></script>
<script src="{% static 'lib/js/angular-animate.min.js' %}"></script>
<script src="{% static 'lib/js/angular-aria.min.js' %}"></script>
<script src="{% static 'lib/js/angular-messages.min.js' %}"></script>
<script src="{% static 'lib/js/angular-material.min.js' %}"></script>
<script src="{% static 'lib/js/angular-sanitize.min.js' %}"></script>
<script src="{% static 'lib/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/js/ui-bootstrap-tpls.js' %}"></script>
<script src="{% static 'lib/js/rrule.js' %}"></script>
<script src="{% static 'lib/js/angular-bootstrap-colorpicker.js' %}"></script>
<script src="{% static 'lib/js/angular-bootstrap-calendar.js' %}"></script>
<script src="{% static 'lib/js/pl.js' %}"></script> <!-- locale to moment.js -->

<!-- MODULE APP -->
<script src="{% static 'main-view/app.js' %}"></script>
<script src="{% static 'main-view/routing.js' %}"></script>

<!-- DIRECTIVES -->
<script src="{% static 'main-view/header/header.directive.js' %}"></script>
<script src="{% static 'main-view/shop/shop.directive.js' %}"></script>
<script src="{% static 'main-view/medicine-details/medicine-details.directive.js' %}"></script>
<script src="{% static 'main-view/authenticate/authenticate.directive.js' %}"></script>
<script src="{% static 'main-view/cart/cart.directive.js' %}"></script>
<script src="{% static 'main-view/cart/products/products.directive.js' %}"></script>
<script src="{% static 'main-view/cart/delivery/delivery.directive.js' %}"></script>

<!-- SERVICES -->
<script src="{% static 'main-view/header/headerTabs.service.js' %}"></script>
<script src="{% static 'main-view/buildUrl.service.js' %}"></script>
<script src="{% static 'main-view/cart/cart-tabs.service.js' %}"></script>

</body>
</html>
