<div class="assume">
    <div class="scroll_panel">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Cena brutto</th>
                <th>Ilość</th>
                <th>Wartość brutto</th>
            </tr>
            </thead>
            <tbody>
            <tr class="item" ng-repeat="product in products">
                <td class="medicine-name">
                    {{product.medicine.producer}} - {{product.medicine.name}} - {{product.medicine.form}} - {{product.medicine.quantityInPackage}}{{product.medicine.unit}}
                </td>
                <td>{{product.medicine.price}} PLN</td>
                <td>
                    <input class="form-control" type="number" ng-model="product.quantity" disabled>
                </td>
                <td>{{product.medicine.price * product.quantity}} PLN</td>
            </tr>
            <tr>
                <td class="medicine-name">Transport - {{order.provider}}</td>
                <td></td>
                <td></td>
                <td>{{order.priceTransport}} PLN</td>
            </tr>
            <tr class="cart-sum">
                <td class="align-right" colspan="3"><b>Razem:</b></td>
                <td class="align-right"><b>{{wholeValueCart}} PLN</b></td>
            </tr>
            <tr>
                <td colspan="4"><b></b></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="data-person">
        <div class="person col-xs-6">
            <div class="header">Dane zamawiającego</div>
            <div class="content">
                <div class="item">
                    {{user.firstName}} {{user.lastName}}
                </div>
                <div class="item">
                    Email: {{user.email}}
                </div>
                <div class="item">
                    Telefon: {{order.client.phoneNumber}}
                </div>
            </div>
        </div>
        <div class="transport col-xs-6">
            <div class="header">Transport</div>
            <div class="content" ng-if="order.providerValue === 'pharmacy'">
                <div class="item">
                    {{order.provider}}
                </div>
            </div>
            <div class="content" ng-if="order.providerValue !== 'pharmacy' && order.isAnotherAddress">
                <div class="item">
                    {{order.anotherAddress.zipCode}}, {{order.anotherAddress.locality}}
                </div>
                <div class="item">
                    {{order.anotherAddress.address}}
                </div>
            </div>
            <div class="content" ng-if="order.providerValue !== 'pharmacy' && !order.isAnotherAddress">
                <div class="item">
                    {{user.zipCode}}, {{user.locality}}
                </div>
                <div class="item">
                    {{user.address}}
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <button class="button btn cart-button col-sm-3" ng-click="backToProducts()">Wróć do koszyka</button>
            <button class="button btn delivery-button col-sm-3 col-sm-offset-1" ng-click="backToDelivery()">Wróć do szczegułów dostawy</button>
            <button class="button btn confirm-button col-sm-3 col-sm-offset-1">Potwierdź zamówienie</button>
        </div>
    </div>
</div>