<div class="products">
    <div class="scroll_panel">
        <table class="table table-bordered" ng-if="!products.length">
            <thead>
            <tr>
                <th>Brak rzeczy w koszyku</th>
            </tr>
            </thead>
        </table>
        <table class="table table-bordered" ng-if="products.length">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Cena brutto</th>
                <th>Ilość</th>
                <th>Wartość brutto</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="item" ng-repeat="product in products">
                <td class="medicine-name">
                    {{product.medicine.producer}} - {{product.medicine.name}} - {{product.medicine.form}} - {{product.medicine.quantityInPackage}}{{product.medicine.unit}}
                </td>
                <td>{{product.medicine.price}} PLN</td>
                <td>
                    <input class="form-control" type="number" ng-model="product.quantity" ng-change="calculateCart()">
                </td>
                <td>{{product.medicine.price * product.quantity}} PLN</td>
                <td>
                    <button type="button" class="btn" ng-click="removeFromCart(product.medicine.id)">Usuń</button>
                </td>
            </tr>
            <tr class="cart-sum">
                <td class="align-right" colspan="3"><b>Razem:</b></td>
                <td class="align-right"><b>{{wholeValueCart}} PLN</b></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="5"><b></b></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="center">
        <button class="button btn cart-button"
        ng-disabled="!isSubmitEnable()"
        ng-click="onSubmit()">Przejdź do zamówienia</button>
    </div>
</div>